body {
    display: flex;
    flex-direction: column;
    gap: 30px;    
}

button {
    background-color: cyan;
}

.container {
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.square {
    border: 1px solid black;
}